version: '3.8'

services:
  mongodb:
    image: mongo:7.0.0
    restart: always
    container_name: sqe_mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: main_app
      MONGO_INITDB_ROOT_PASSWORD: "1234567890"
      MONGO_INITDB_DATABASE: sqe_otp
      TZ: Asia/Jakarta
    volumes:
      - ./.docker/mongo/mongodb_data:/data/db
    ports:
      - "27017:27017"
